@charset "utf-8";
body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
#container {
  width: 540px;
  margin: 0 auto;
  background-color: azure;
}
h1 {
  color: darkolivegreen;
  font-size: 20px;
}